html {
  height: 100vh;
  background: linear-gradient(45deg, rgb(43, 44, 44), rgb(82, 83, 83));
  background-repeat: no-repeat;
  font-family: sans-serif;
}
body {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0;
}
main {
  display: flex;
  align-items: center;
  width: 75%;
  height: 85vh;
  margin: 0 auto;
  background-color: white;
  border-radius: 5px;
}
#imageContainer {
  width: 65%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#imageDiv {
  background-image: url("../images/imageScore.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
  border-radius: 5px 0px 0px 5px;
}
#loginFormContainer {
  width: 35%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#loginFormContainer header {
  font-family: 'Cabin', sans-serif;
  font-size: 40px;
  font-weight: bold;
  height: 5rem;
  width: 100%;
  text-align: center;
  background: -webkit-linear-gradient(rgb(25, 26, 26), rgb(185, 183, 183));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#loginForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#loginForm input {
  border: 1px solid gray;
  width: 85%;
  height: 2.5rem;
  outline: none;
  border-radius: 5px;
  font-size: 17px;
}
#email {
  margin-bottom: 1.5rem;
}
#loginForm button {
  border-radius: 50px;
  border: transparent;
  background: linear-gradient(45deg, rgb(28, 29, 29), rgb(82, 83, 83));
  width: 90%;
  height: 3rem;
  cursor: pointer;
  transition: 0.2s ease;
  color: white;
  font-size: 17px;
  margin-top: 2.5rem;
}
#loginForm button:hover {
  background: linear-gradient(45deg, rgb(63, 65, 65), rgb(113, 114, 114));
}
#forgetPassword {
  width: 87%;
  margin-top: 5px;
}
#forgetPassword a {
  color: rgb(113, 114, 114);
  text-decoration: none;
}
#forgetPassword a:hover {
  text-decoration: underline;
}

@media (max-width: 900px){
  #imageContainer {
    display: none;
  }
  #loginFormContainer {
    width: 100%;
  }
}